<table class="table table-hover">
  <tr>
    <th>Ticket Number</th>
    <th>Heading</th>
    <th>Description</th>
  </tr>
  <% @issues.each do |data| %>
  <td><%= data.ticket_no %></td>
  <td><%= data.heading %></td>
  <td><%= data.description %></td>
  <td>
  </td>
</tr>
<% end %>
</table>