<table>
  <tr>
    <th colspan =2>Email</th>
  </tr>
  <% @devs.each do |user| %>
  	<td><%= user.email %></td>
  	<td><%= link_to "Assign", {:controller => "issues", :action => "assign_dev", :id => params[:id], :id2 => user.id }%></td>
  	</tr>
  <% end %>
</table>