<h1>Welcome</h1>

<%= button_to("File an Issue" , new_issue_path, method: :get) %>
<%= button_to("Edit Submitted Issues" , action: 'show_user_submissions', controller: 'issues') %>
<%= button_to("See All Issues" , issues_path, method: :get) %>
<%= button_to("See All Users" , action: :index, controller: 'users') %>
